* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #02918c;
    align-items: center;
    padding: 15px;

}
ul{
    display: flex;
    list-style-type: none;
}
nav ul li a {
    display: inline-block;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 26px 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
nav ul li a:hover {
    color: #cfc91d;
}

